div{
    display: inline-block;
}
.encabezado, .cuerpo, .pie{
    border: 2px solid rebeccapurple;
    width: 100%;
    text-align: center;
}


.encabezado>div, .cuerpo>div{
    width: 20%;
    text-align: center;
    margin: 20px;
    border: 2px solid rebeccapurple;
}


