nav {
    background-color: aqua;
}
.img-logo{
    width: 100px;
}

.btn-light:hover{
    background-color:rgb(9, 155, 155);
    border-bottom: 2px solid rgb(9, 155, 155);
}
.btn-celeste{
    background-color:aqua;
    border-bottom: 2px solid rgb(5, 230, 230);
    color: white;
}
.btn-celeste:hover{
    background-color:rgb(9, 155, 155);
    border-bottom: 2px solid rgb(9, 155, 155);
}
.titulo-header{
    font-family: serif;
    font-weight: bolder;
    color: white !important;
    font-size: 40px;
}

.item-nav{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white !important;
    font-size: 20px;
}
.item-nav:hover{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    color: white !important;
    font-size: 20px;
}
.subtitulo{
    color: aqua;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.contacto{
    width: 350px;
    padding-bottom: 10px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.img-ubicacion{
    width: 70px;
}

.consulta{
    width: 450px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
}
.productos-menu{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center
}